.title-container {
    background-color: #17320b;
    padding: 2rem 2rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.title-left {
    display: flex;
    align-items: center;
    font-size: 25px;
}



.material-symbols-outlined {
    position: absolute;
    right: 15px;
    font-size: 1.9rem;
    margin-right: 1rem;
}

.sub-title-container {
    padding-left: 2rem;
}

.sub-title-container p {
    font-size: 2rem;
    font-style: italic;
}

.material-symbols-outlined {
    cursor: pointer;
}